body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
    padding:0;
}

.header{
    background:#007BFF;
    color:white;
    text-align:center;
    padding:20px;
}

.section{
    width:80%;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h2{
    color:#007BFF;
}

ul{
    padding-left:20px;
}

button{
    background:#007BFF;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    margin:20px;
}

.page-buttons {
    text-align: center;
    margin: 40px auto;
    width: 100%;
}

.page-buttons a {
    display: inline-block;
    padding: 12px 25px;
    margin: 5px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.page-buttons a:hover {
    background-color: #555;
}